.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; 
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem; 
  font-weight: 700;
}

.logoImg {
  height: 1.5em; 
  margin-right: 0.5rem; 
}