.perfilSeccion {
  background-color: #F7F7F7; /* Fondo general suave */
  padding: 3rem 1rem;
  min-height: 80vh;
}

.seccionTitulo {
  font-family: 'Playfair Display', serif;
  color: #2E8B57;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

/* Línea decorativa debajo del título */
.seccionTitulo::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #FFD700;
  margin: 10px auto;
}