.perfilInfo {
  background-color: white;
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05); /* Sombra suave y elegante */
  border-top: 5px solid #2E8B57; /* Borde superior verde */
  max-width: 700px;
  margin: 0 auto; /* Centrado */
}

.perfilInfo p {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}