
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F7F7;
  color: #333;
}


.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}


section#maps {
  padding: 2rem;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

iframe {
  width: 600px;
  height: 400px;
  border: 0;
}







